BEGIN;

-- Running upgrade 51a6a3d0a092 -> e570f9fd76ac

ALTER TABLE teams ADD COLUMN active_board_id VARCHAR;

ALTER TABLE teams ADD COLUMN active_board_name VARCHAR;

INSERT INTO alembic_version (version_num) VALUES ('e570f9fd76ac') RETURNING alembic_version.version_num;

-- Running upgrade e570f9fd76ac -> e6f7a8b9c0d1

ALTER TABLE user_settings ADD COLUMN reminder_work_hours_start INTEGER DEFAULT '9' NOT NULL;

ALTER TABLE user_settings ADD COLUMN reminder_work_hours_end INTEGER DEFAULT '21' NOT NULL;

ALTER TABLE user_settings ADD COLUMN reminder_work_days VARCHAR(13) DEFAULT '1,2,3,4,5' NOT NULL;

UPDATE alembic_version SET version_num='e6f7a8b9c0d1' WHERE alembic_version.version_num = 'e570f9fd76ac';

-- Running upgrade e6f7a8b9c0d1 -> f9a8b7c6d5e4

ALTER TABLE commitments ADD COLUMN deleted_at TIMESTAMP WITHOUT TIME ZONE;

UPDATE alembic_version SET version_num='f9a8b7c6d5e4' WHERE alembic_version.version_num = 'e6f7a8b9c0d1';

-- Running upgrade f9a8b7c6d5e4 -> d1e2f3a4b5c6

ALTER TABLE meetings ADD COLUMN mtslink_event_id VARCHAR(128);

UPDATE alembic_version SET version_num='d1e2f3a4b5c6' WHERE alembic_version.version_num = 'f9a8b7c6d5e4';

-- Running upgrade d1e2f3a4b5c6 -> a2b3c4d5e6f7

ALTER TABLE teams ADD COLUMN mtslink_token TEXT;

ALTER TABLE meetings ADD COLUMN mtslink_record_id VARCHAR(128);

ALTER TABLE meetings ADD COLUMN raw_llm_output TEXT;

ALTER TABLE meetings ADD COLUMN duration_sec INTEGER;

ALTER TABLE meetings ADD COLUMN processed_at TIMESTAMP WITHOUT TIME ZONE;

CREATE INDEX ix_meetings_mtslink_record_id ON meetings (mtslink_record_id);

UPDATE alembic_version SET version_num='a2b3c4d5e6f7' WHERE alembic_version.version_num = 'd1e2f3a4b5c6';

-- Running upgrade a2b3c4d5e6f7 -> b1c2d3e4f5a6

ALTER TABLE meetings ADD COLUMN mtslink_session_id VARCHAR(128);

UPDATE alembic_version SET version_num='b1c2d3e4f5a6' WHERE alembic_version.version_num = 'a2b3c4d5e6f7';

-- Running upgrade b1c2d3e4f5a6 -> dc0d391b3de9

DROP INDEX ix_meetings_mtslink_record_id;

ALTER TABLE team_members ADD COLUMN yougile_user_id VARCHAR(128);

ALTER TABLE users ADD COLUMN display_name VARCHAR(128);

UPDATE users SET display_name = '' WHERE display_name IS NULL;

ALTER TABLE users ALTER COLUMN display_name SET NOT NULL;

ALTER TABLE users ALTER COLUMN display_name SET DEFAULT '';

UPDATE alembic_version SET version_num='dc0d391b3de9' WHERE alembic_version.version_num = 'b1c2d3e4f5a6';

-- Running upgrade pm001, dc0d391b3de9 -> edbf521baec0

DELETE FROM alembic_version WHERE alembic_version.version_num = 'pm001';

UPDATE alembic_version SET version_num='edbf521baec0' WHERE alembic_version.version_num = 'dc0d391b3de9';

COMMIT;

